/* Color Palette
  White: #ffffff;
  Black: #000000;
  Medium Gray: #999999;
  Light Gray: #dddddd;
  Light blue: #99ffff;
*/


/*********** Begin Layout Styles ***********/
body {
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

div.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px; /* disable this line if you want full-width layouts */
}

header, main, footer {
  padding: 15px;
  margin: 15px;
}

/* phones (base layout is mobile-first) */
header {
  /*border: 3px solid #990000; /* disable this line once layout works */
  display: grid;
  background-color: #ff0000;
  background-repeat: no-repeat;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "logo"
    "name";
}

main {
  /*border: 3px solid #009900; /* disable this line once layout works */
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "carousel"
    "menu"
    "hours"
    "map"
    "form";
}

footer {
  /*border: 3px solid #000099; /* disable this line once layout works */
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "social"
    "contact"
    "credits";
}

/* tablets and small laptops */
@media (min-width: 600px) {

  header {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "logo name";
  }

  main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "carousel carousel carousel"
      "map map map"
      "hours menu form";
  }

  footer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "social contact credits";
  }
}

/* desktops */
@media (min-width: 900px) {
  header {
    height: 225px;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "logo name";
  }

  main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "carousel carousel carousel"
      "menu map form"
      "hours map form";
  }

  footer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "social contact"
    "credits credits";
  }
}

div {
  /* border: 1px solid #999999; disable this line once layout works */
  text-align: center; /* disable this line once layout works */
}

main div {
     /*min-height: 80px; disable this line once layout works */
}

div#logo {
  grid-area: logo;
}

div#name {
  grid-area: name;
}

div#carousel {
  grid-area: carousel;
  overflow: hidden;
}

div#menu {
  grid-area: menu;
}

div#hours {
  grid-area: hours;
  margin-left: auto;
  margin-right: auto;

}

div#map {
  grid-area: map;
}

div#form {
  grid-area: form;
}

div#social {
  grid-area: social;
}

div#contact {
  grid-area: contact;
}

div#credits {
  grid-area: credits;
}


/*********** End Layout Styles ***********/


/*********** Begin Content Styles ***********/

/* Headings */
h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 96px;
  font-weight: normal;
}

h2 {
  font-size: 25px;
  font-family: 'Great Vibes', cursive;
  font-weight: normal;
}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

/* Paragraphs and lists */

p {

}

}

ol {

}

ul {

}

li {

}

/* tables */

table {

}

caption {

}

tr {

}

th {

}

td {

}

/* images */
img {
  max-width: 100%;
}

img.logo {
  max-width: 100%;
}

iframe {
  max-width: 100%;
  max-height: 100%;
}

/* links */

a:link {
  font-size: 36px;
  font-family: 'Great Vibes', cursive;
}

a:visited {

}

a:hover {

}

a:active {

}

/* forms */



/*********** End Content Styles ***********/
